 .bottom   
    {  
        position:fixed;  
         right:0px;;  
         left:0px;
        _position:absolute;  
         /*_right:17px;*/  
        bottom:0px;   
        color:#000;  
        
        display:block;  
        width:100%;  
        text-align:center;   
       left:50%;margin-left:-100px;     
     }  
    .bottom span   
    {  
        position:relative;  
        display:block;  
        top:0;  
        left:0;  
        padding:5px; 
    } 